:root {
  --font-family: "Xanh Mono", monospace;
  --color-text: black;
  --color-background: white;
  --color-accent: orangered;
  --color-disabled: gray;
  --color-border: black;
  --color-this-user: red;
  --color-owner-shadow: gray;
}

html, body {
  font-family: var(--font-family);
  font-weight: 400;
  font-style: normal;
  font-size: 16px; /* Base font size */
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  color: var(--color-text);
  background-color: var(--color-background);
} 

body {
  display: flex;
  flex-direction: column;
}

h1, h2 {
  margin: 0;
  font-weight: 400;
}

h1 {
  font-size: 8vh;
  margin: 2vh;
}

h2 {
  font-size: 4vh;
}

/* center the app container both horizontally and vertically */
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.timer-titlebar {
  padding-top: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.remaining-time-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  width: 100%;
  box-sizing: border-box;
}

.countdown {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 9vh;
  margin-bottom: 2vh;
}


#countdown-minutes {
  text-align: right;
  width: 10vh;
}
#countdown-minutes::after {
  content: ":";
} 

#countdown-seconds {
  text-align: center;
  width: 10vh;
}

#countdown-tenths {
  color: var(--color-accent);
  text-align: left;
  font-size: 5vh;
  width: 10vh;
} 

.dial {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 30vh;
  width: 100%;
  padding: 1vh;
  box-sizing: border-box;
}

.dial-svg {
  width: 100%;
  height: 100%;
  max-width: 50vh;
  max-height: 50vh;
}

.dial-svg path {
  fill: var(--color-disabled);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.start-button {
  font-family: var(--font-family);
  font-size: 3vh;
  width: 60%;
  margin: 2vh;
  margin-bottom: 15vh;
  padding: 1vh 2vh;
  border: .5vh solid var(--color-border);
  border-radius: 2vh;
}

.start-button:disabled {
  background: repeating-linear-gradient(60deg, var(--color-background), var(--color-background) 8px, var(--color-disabled) 8px, var(--color-disabled) 12.5px);
}

.start-button:hover:not(:disabled) {
  border: 0.5vh solid var(--color-accent);
}

.start-button:active:not(:disabled) {
  border: 0.5vh solid var(--color-accent);
  background-color: var(--color-text);
  color: var(--color-background);
}

.participants-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  box-sizing: border-box;
}

.user-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* container for an individual user.*/
.user-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.75vh;
  min-width: 6vh;
  max-width: 10vh;
  padding: 1rex;
  height: 6vh;
  margin: 1vh;
  border: 0.5vh solid var(--color-border);
  border-radius: 50%;
  background-color: var(--color-background);
}

.user-container.this-user {
  border-color: var(--color-this-user);
}

.user-container.owner {
  box-shadow: inset 0 0 1.5rem var(--color-owner-shadow);
}
