:root {
  --hue: 195;
  --inverse-hue: calc(180 - var(--hue));
  --start-button: hsl(var(--hue), 00%, 10%);
  --reset-button: hsl(calc(180 - var(--hue)), 100%, 50%);
  --ping-button: hsl(calc(var(--hue)), 100%, 80%);
  --font-family: "Xanh Mono", monospace;
  --alt-font-family: "Karla", sans-serif;
  --color-text: hsl(var(--hue), 100%, 92%);
  --color-background: hsl(var(--hue), 100%, 13%);
  --color-accent: hsl(var(--inverse-hue), 100%, 50%);
  --color-disabled: hsla(var(--hue), 100%, 73%, 0.432);
  --color-border: hsl(var(--hue), 100%, 95%);
  --color-this-user: hsl(var(--hue), 100%, 50%);
  --color-owner-shadow: hsl(var(--hue), 100%, 50%);
  --color-control: hsl(var(--hue), 100%, 20%);
  --color-button-shadow: hsl(var(--hue), 100%, 12%);
}

html, body {
  font-family: var(--font-family);
  font-weight: 400;
  font-style: normal;
  font-size: 16px; /* Base font size */
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  color: var(--color-text);
  background-color: var(--color-background);
} 

body {
  display: flex;
  flex-direction: column;
}

h1, h2 {
  text-align: center;
  font-weight: 400;
}

/* center the app container both horizontally and vertically */
.app-container {
  display: grid;
  width: 100vw;
  height: 100vh; 
  overflow: hidden;
}

#help-link {
  padding: 1rem;
  background-color: var(--color-accent);
  position: fixed;
  color: var(--color-text);
  top: 0;
  right: 0;
}

#help-link a {
  font-family: var(--alt-font-family);
  font-weight: 600;
  color: var(--color-background);
  text-decoration: none;
}

#app-firsthalf, #app-secondhalf {
  -webkit-user-select: none;
  user-select: none;
  overflow: visible;
}

#app-secondhalf {
  display: flex;
  width: 100%;
  height: 100%;
}

.timer-titlebar {
  display: block;
}

.timer-titlebar h1 {
  cursor: pointer;
}

.timer-titlebar input {
  text-align: center;
  font-family: var(--font-family);
  color: var(--color-background);
  background-color: var(--color-text);
  border: none;
  outline: none;
  text-align: center;
  padding: none;
  margin: 2vw; /* Match the h1 margin */
}

.remaining-time-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
}

.countdown {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#countdown-minutes {
  text-align: right;
  /* width: 10vw; */
}

#countdown-seconds {
  text-align: center;
}

#countdown-tenths {
  color: var(--color-accent);
  text-align: left;
  width: 10vh;
} 

.dial {
  position: relative;
}

.dial-svg {
  order: 2;
  overflow: visible;
  user-select: none;
  touch-action: none;
  z-index: 1;
}

.dial-svg:active {
  cursor: grabbing;
}

.dial-svg text {
  font-size: .5rem;
  fill: var(--color-text);
}

.dial-svg path {
  fill: var(--color-accent);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.start-button-container {
  position: absolute;
  width: 80vh;  /* Match dial size */
  height: 80vh;
  max-width: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  pointer-events: none;
}


.start-button,
.reset-button,
.ping-button {
  text-transform: uppercase; 
  position: absolute;
  z-index: 2;
  padding: 0;
  font-family: var(--font-family);
  margin: auto;
  box-shadow: .8vh .8vh var(--color-button-shadow);
  transition: transform 0.15s ease-out, box-shadow 0.15s ease-out, color 0.15s ease-out, background-color 0.15s ease-out;
  pointer-events: auto;
  border: .1vh solid lightgray;
}

.start-button {
  z-index: 3;
  /* radial gradient for button background */
  color: var(--color-text);
  background: radial-gradient(var(--start-button), var(--color-control));
}

.reset-button {
  /* radial gradient for button background */
  z-index: 3;
  color: var(--color-text);
  text-shadow: 0 0 .7vh var(--color-accent);
  background: radial-gradient(var(--reset-button), var(--color-control));
}



.ping-button {
  color: var(--color-text);
  text-shadow: 0 0 .7vh var(--color-accent);
  background: radial-gradient(var(--ping-button), var(--color-control));
}

.start-button:disabled,
.reset-button:disabled,
.ping-button:disabled {
  z-index: 0;
  color: transparent;
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.start-button:hover:not(:disabled),
.reset-button:hover:not(:disabled),
.ping-button:hover:not(:disabled) {
  border: .1vh solid var(--color-accent);
}

.start-button:active:not(:disabled),
.reset-button:active:not(:disabled),
.ping-button:active:not(:disabled) {
  border: 0.5vh solid var(--color-control);
  background-color: var(--color-control);
  transform: translate(.6vh, .6vh);
  box-shadow: .2vh .2vh var(--color-button-shadow);
  color: var(--color-accent);
}

#dial-userlist {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  list-style-type: none;
  padding: 0;
  margin: 0;
  pointer-events: none;
}

/* container for an individual user.*/
.user-container {
  position: absolute;
  /* Change from left: 50%, top: 50% to exact center coordinates */
  left: calc(50%);
  top: calc(50%);
  /* Ensure transform-origin is exactly at center point */
  transform-origin: 0 0;
  white-space: nowrap;
  pointer-events: none;
}

.user-container .user-name-line {
  display: inline-block;
  transform: rotate(-90deg);
  transform-origin: 0 0;
}

.user-name-line .user-name {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  background-color: white;
  color: black;
  border: 0.1vh solid var(--color-border);
  border-radius: 0 1vh 1vh 0;
  padding-bottom: 0;
  padding-top: 0;
  padding-left: 2rex;
  padding-right: 1rex;
  margin-left: -1rex;
  box-shadow: .5rex .5rex 0.5em black;
}

.user-container.this-user .user-name::before {
  background-color: black;
  color: white;
  content: "YOU";
}

.user-container.owner .user-name::before {
  margin: .25vh;
  content: " ♛";
}

.time-control {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.time-control button {
  background: var(--color-accent);
  border: .5rex solid var(--color-border);
  border-radius: 1vh;
  font-size: 3vh;
  cursor: pointer;
  color: var(--color-text);
}

.time-control button:active {
  color: var(--color-background);
  background: var(--color-control);
}

.time-control button:disabled {
  color: var(--color-disabled);
  cursor: not-allowed;
}

/* The slice and other SVG elements might be blocking events */
.dial-svg path,
.dial-svg circle,
.dial-svg line {
  pointer-events: none;
}

/* TODO: The ping pulse animation transform isn't working right now. Only the color change works.*/
@keyframes ping-pulse {
  0% {
    transform: scale(1) rotate(var(--rotation));
    background-color: white;
  }
  50% {
    transform: scale(1.2) rotate(var(--rotation));
    background-color: var(--color-accent);
    color: white;
  }
  100% {
    transform: scale(1) rotate(var(--rotation));
    background-color: white;
  }
}

@keyframes reset-button-slide-portrait {
  0% {
    margin-right: 0;
    margin-bottom: 0;
  }
  100% {
    margin-right: 18vh;
    margin-bottom: 18vh;
  }
}

@keyframes start-button-slide-portrait {
  0% {
    margin-right: 18vh;
    margin-bottom: 18vh;
  }
  100% {
    margin-right: 0;
    margin-bottom: 0;
  }
}

@keyframes reset-button-slide-landscape {
  0% {
    margin-right: 0;
    margin-bottom: 0;
  }
  100% {
    margin-right: 18vw;
    margin-bottom: 18vw;
  }
}

@keyframes start-button-slide-landscape {
  0% {
    margin-right: 18vw;
    margin-bottom: 18vw;
  }
  100% {
    margin-right: 0;
    margin-bottom: 0;
  }
}

.user-name.pinging {
  animation: ping-pulse 0.5s ease-in-out;
}

/* * * * * * * * * * * * *
 * PORTRAIT MEDIA QUERIES
 */

@media (orientation: portrait) {
  .app-container {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
    height: 100vh;
    overflow: hidden;
  }

  #help-link {
    font-size: 4vh;
    border: .5vh solid var(--color-accent);
    border-radius: 0vh 0vh 0vh 1vh;
  }

  h1 {
    font-size: 8vh;
    margin: 2vh;
  }

  .timer-titlebar input {
    font-size: 8vh; /* Match the h1 font size */
    max-width: 40vh;
    margin: none;
    padding: none;
  }

  .countdown {
    font-size: 9vh;
  }

  #countdown-tenths {
    font-size: 5vh;
  }

  .dial-svg {
    width: 80vw;
    height: 80vw;
    max-height: 40vh;
    overflow: visible;
  } 

  .user-container.this-user .user-name::before {
    position: relative;
    bottom: .125vh;
    border-radius: 1vh;
    margin: .25vh;
    font-size: 1.5vh;
    padding: .25vh;
  }

  .start-button-container {
    order: 1;
    position: absolute;
    width: 80vw;
    height: 80vw;
    max-height: 40vh;
    display: flex;
    z-index: 0;
  }

  .ping-button {
    font-size: 4vh;
    width: 15vh;
    height: 15vh;
    border-radius: 8vh;
  }

  .start-button, .reset-button {
    font-size: 2.5vh;
    width: 8vh;
    height: 8vh;
    border-radius: 4vh;
    margin-right: 18vh;
    margin-bottom: 18vh;
  }
  
  .time-control button {
    width: 10vh;
  }

  .user-container .user-name-line {
    font-size: 2vh;
  }

  #app-firsthalf, #app-secondhalf {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #app-firsthalf {
    padding-top: 2vh;
  }

  #app-secondhalf {
    height: 30%;
  }

  .user-container .user-name-line {
    font-size: 2vh;
    padding-left: 8vh;
  }

}

/* * * * * * * * * * * * *
 * LANDSCAPE MEDIA QUERIES
 */
@media (orientation: landscape) {

  #help-link {
    font-size: 4vw;
    border: .5vw solid var(--color-accent);
    border-radius: 0vw 0vw 0vw 1vw;
  }

  h1 {
    font-size: 8vw;
    padding: 2vw;
  }

  .timer-titlebar input {
    font-size: 8vw; /* Match the h1 font size */
    max-width: 40vw;
    margin: none;
    padding: none;
  }

  .countdown {
    font-size: 9vw;
  }

  #countdown-tenths {
    font-size: 5vw;
  }

  .app-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  #app-firsthalf {
    padding: 5vw;
    justify-self: right;
    align-self: center;
  }

  #app-secondhalf {
    height: 100vh;
    justify-self: left;
  }

  .dial {
    justify-self: center;
    align-self: center;
  }

  .dial-svg {
    width: 80vh;
    height: 80vh;
    max-width: 40vw;
    overflow: visible;
  } 
  
  .user-container.this-user .user-name::before {
    position: relative;
    bottom: .125vw;
    border-radius: 1vw;
    margin: .25vw;
    content: "YOU";
    font-size: 1.5vw;
    padding: .25vw;
  }

  .start-button-container {
    justify-self: center;
    align-self: center;
    order: 1;
    position: absolute;
    width: 80vh;
    height: 80vh;
    max-width: 40vw;
    display: flex;
  }

  .ping-button {
    font-size: 4vw;    
    width: 15vw;
    height: 15vw;
    border-radius: 8vw;
  }

  .start-button, .reset-button {
    font-size: 2.5vw;
    width: 8vw;
    height: 8vw;
    border-radius: 4vw;
    margin-right: 18vw;
    margin-bottom: 18vw;
  }

  .time-control button {
    width: 10vw;
  }

  .user-container .user-name-line {
    font-size: 2vw;
    padding-left: 8vw;
  }
}
