html, body {
  font-family: "Jersey 10", monospace;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

h1, h2 {
  font-family: "Jersey 25", monospace;
  margin: 0;
}
h1 {
  font-size: 4rem;
  margin: 0;
}
h2 {
  font-size: 2rem;
  margin: 0;
}

/* center the app container both horizontally and vertically */
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.remaining-time-display {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  /* border: 2px solid black; */
  padding: 0.5rem;
  box-sizing: border-box;
}

.countdown {
  font-size: 5rem;
}

.dial {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  width: 100%;
  padding: 0.5rem;
  box-sizing: border-box;
}

.dial-svg {
  width: 100%;
  height: 100%;
  max-width: 60vmin;
  max-height: 60vmin;
}

.dial-svg path {
  fill: gray;
  stroke: black;
  stroke-width: .5rex;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.start-button {
  font-family: "Jersey 10", monospace;
  font-size: 2rem;
  margin: 1.5rem; 
  background-color: white;
  color: black;
  border: 0.25rem solid black;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
}

.participants-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0.5rem;
  box-sizing: border-box;
}

.user-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* container for an individual user.*/
.user-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  width: 5rem;
  height: 5rem;
  margin: 0.25rem;
  border: 0.5rem solid black;
  border-radius: 50%;
  background-color: white;
}

.user-container.this-user {
  border-color: red;
}

.user-container.owner {
  box-shadow: inset 0 0 1.5rem gray
}
